"properties" : {
"hbase.client.keyvalue.maxsize" : "10485760",
"hbase.client.scanner.caching" : "100",
"hbase.cluster.distributed" : "true",
"hbase.defaults.for.version.skip" : "true",
"hbase.hregion.majorcompaction" : "604800000",
"hbase.hregion.max.filesize" : "10737418240",
"hbase.hregion.memstore.block.multiplier" : "2",
"hbase.hregion.memstore.flush.size" : "134217728",
"hbase.hregion.memstore.mslab.enabled" : "true",
"hbase.hstore.blockingStoreFiles" : "10",
"hbase.hstore.compactionThreshold" : "3",
"hbase.hstore.flush.retries.number" : "120",
"hbase.regionserver.global.memstore.lowerLimit" : "0.38",
"hbase.regionserver.global.memstore.upperLimit" : "0.4",
"hbase.regionserver.handler.count" : "60",
"hbase.rootdir" : "hdfs://{{ hostvars[groups['namenode'][0]]['ansible_fqdn'] }}:8020/apps/hbase/data",
"hbase.security.authentication" : "simple",
"hbase.security.authorization" : "false",
"hbase.superuser" : "hbase",
"hbase.tmp.dir" : "/mnt/hadoop/hbase",
"hbase.zookeeper.property.clientPort" : "2181",
"hbase.zookeeper.quorum" : "{{ groups.zookeeper | join (',') }}",
"hbase.zookeeper.useMulti" : "true",
"hfile.block.cache.size" : "0.40",
"zookeeper.session.timeout" : "30000",
"zookeeper.znode.parent" : "/hbase-unsecure"
}
