"properties" : {
"fs.file.impl.disable.cache" : "true",
"fs.hdfs.impl.disable.cache" : "true",
"hive.auto.convert.join" : "true",
"hive.auto.convert.join.noconditionaltask" : "true",
"hive.auto.convert.join.noconditionaltask.size" : "10000000",
"hive.auto.convert.sortmerge.join" : "true",
"hive.auto.convert.sortmerge.join.noconditionaltask" : "true",
"hive.compute.query.using.stats" : "true",
"hive.enforce.bucketing" : "true",
"hive.enforce.sorting" : "true",
"hive.exec.local.cache" : "true",
"hive.input.format" : "org.apache.hadoop.hive.ql.io.HiveInputFormat",
"hive.limit.optimize.enable" : "true",
"hive.limit.pushdown.memory.usage" : "0.1f",
"hive.map.aggr" : "true",
"hive.mapjoin.bucket.cache.size" : "10000",
"hive.mapred.reduce.tasks.speculative.execution" : "false",
"hive.metastore.cache.pinobjtypes" : "Table,Database,Type,FieldSchema,Order",
"hive.metastore.client.socket.timeout" : "60",
"hive.metastore.execute.setugi" : "true",
"hive.metastore.uris" : "thrift://{{ hostvars[groups['hive'][0]]['ansible_fqdn'] }}:9083",
"hive.metastore.warehouse.dir" : "/apps/hive/warehouse",
"hive.optimize.bucketmapjoin" : "true",
"hive.optimize.bucketmapjoin.sortedmerge" : "true",
"hive.optimize.index.filter" : "true",
"hive.optimize.mapjoin.mapreduce" : "true",
"hive.optimize.reducededuplication" : "true",
"hive.optimize.reducededuplication.min.reducer" : "1",
"hive.optimize.tez" : "true",
"hive.orc.splits.include.file.footer" : "true",
"hive.root.logger" : "INFO",
"hive.security.authorization.enabled" : "false",
"hive.security.authorization.manager" : "org.apache.hadoop.hive.ql.security.authorization.DefaultHiveAuthorizationProvider",
"hive.semantic.analyzer.factory.impl" : "org.apache.hivealog.cli.HCatSemanticAnalyzerFactory",
"hive.server2.enable.doAs" : "true",
"hive.stats.autogather" : "true",
"hive.stats.dbclass" : "jdbc:mysql",
"hive.stats.dbconnectionstring" : "jdbc:mysql://{{ hostvars[groups['hive'][0]]['ansible_fqdn'] }}/hive?createDatabaseIfNotExist=true&amp;user=hive&amp;password=admin",
"hive.stats.jdbcdriver" : "com.mysql.jdbc.Driver",
"hive.support.concurrency" : "true",
"hive.vectorized.execution.enabled" : "true",
"hive.zookeeper.quorum" : "{{ groups.zookeeper | join ',' }}",
"javax.jdo.option.ConnectionDriverName" : "com.mysql.jdbc.Driver",
"javax.jdo.option.ConnectionPassword" : "admin",
"javax.jdo.option.ConnectionURL" : "jdbc:mysql://jdbc:mysql://{{ hostvars[groups['hive'][0]]['ansible_fqdn'] }}/hive?createDatabaseIfNotExist=true",
"javax.jdo.option.ConnectionUserName" : "hive"
}
