"properties" : {
"yarn.acl.enable" : "true",
"yarn.admin.acl" : "*",
"yarn.application.classpath" : "/etc/hadoop/conf,/usr/lib/hadoop/*,/usr/lib/hadoop/lib/*,/usr/lib/hadoop-hdfs/*,/usr/lib/hadoop-hdfs/lib/*,/usr/lib/hadoop-yarn/*,/usr/lib/hadoop-yarn/lib/*,/usr/lib/hadoop-mapreduce/*,/usr/lib/hadoop-mapreduce/lib/*",
"yarn.log-aggregation-enable" : "true",
"yarn.log-aggregation.retain-seconds" : "2592000",
"yarn.log.server.url" : "http://{{ hostvars[groups['historyserver'][0]]['ansible_fqdn'] }}:19888/jobhistory/logs",
"yarn.nodemanager.address" : "0.0.0.0:45454",
"yarn.nodemanager.admin-env" : "MALLOC_ARENA_MAX=$MALLOC_ARENA_MAX",
"yarn.nodemanager.aux-services" : "mapreduce_shuffle",
"yarn.nodemanager.aux-services.mapreduce_shuffle.class" : "org.apache.hadoop.mapred.ShuffleHandler",
"yarn.nodemanager.container-executor.class" : "org.apache.hadoop.yarn.server.nodemanager.DefaultContainerExecutor",
"yarn.nodemanager.container-monitor.interval-ms" : "3000",
"yarn.nodemanager.delete.debug-delay-sec" : "0",
"yarn.nodemanager.disk-health-checker.min-healthy-disks" : "0.25",
"yarn.nodemanager.health-checker.interval-ms" : "135000",
"yarn.nodemanager.health-checker.script.timeout-ms" : "60000",
"yarn.nodemanager.linux-container-executor.group" : "hadoop",
"yarn.nodemanager.local-dirs" : "{{ hdp.yarn_nodemanager_local_dirs }}",
"yarn.nodemanager.log-aggregation.compression-type" : "gz",
"yarn.nodemanager.log-dirs" : "{{ hdp.yarn_nodemanager_log_dirs }}"
"yarn.nodemanager.log.retain-second" : "604800",
"yarn.nodemanager.remote-app-log-dir" : "/app-logs",
"yarn.nodemanager.remote-app-log-dir-suffix" : "logs",
"yarn.nodemanager.resource.memory-mb" : "2048",
"yarn.nodemanager.vmem-check-enabled" : "false",
"yarn.nodemanager.vmem-pmem-ratio" : "2.1",
"yarn.resourcemanager.address" : "{{ hostvars[groups['resourcemanager'][0]]['ansible_fqdn'] }}:8050",
"yarn.resourcemanager.admin.address" : "{{ hostvars[groups['resourcemanager'][0]]['ansible_fqdn'] }}:8141",
"yarn.resourcemanager.am.max-attempts" : "2",
"yarn.resourcemanager.hostname" : "{{ hostvars[groups['resourcemanager'][0]]['ansible_fqdn'] }}",
"yarn.resourcemanager.resource-tracker.address" : "{{ hostvars[groups['resourcemanager'][0]]['ansible_fqdn'] }}:8025",
"yarn.resourcemanager.scheduler.address" : "{{ hostvars[groups['resourcemanager'][0]]['ansible_fqdn'] }}:8030",
"yarn.resourcemanager.scheduler.class" : "org.apache.hadoop.yarn.server.resourcemanager.scheduler.capacity.CapacityScheduler",
"yarn.resourcemanager.webapp.address" : "{{ hostvars[groups['resourcemanager'][0]]['ansible_fqdn'] }}:8088",
"yarn.scheduler.capacity.node-locality-delay" : "40",
"yarn.scheduler.maximum-allocation-mb" : "2048",
"yarn.scheduler.minimum-allocation-mb" : "512"
}
