"properties" : {
"apache_artifacts_download_url" : "",
"clientPort" : "2181",
"client_scannercaching" : "100",
"datanode_du_reserved" : "1073741824",
"dfs_datanode_address" : "50010",
"dfs_datanode_data_dir" : "{{ hdp.dfs_datanode_data_dir }}",
"dfs_datanode_data_dir_perm" : "750",
"dfs_datanode_failed_volume_tolerated" : "0",
"dfs_datanode_http_address" : "50075",
"dfs_exclude" : "dfs.exclude",
"dfs_namenode_checkpoint_dir" : "{{ hdp.dfs_namenode_checkpoint_dir }}",
"dfs_namenode_checkpoint_period" : "21600",
"dfs_namenode_name_dir" : "{{ dfs_namenode_name_dir }}",
"dfs_replication" : "3",
"dfs_webhdfs_enabled" : "true",
"dtnode_heapsize" : "768m",
"fs_checkpoint_size" : "0.5",
"ganglia_runtime_dir" : "/var/run/ganglia/hdp",
"gmetad_user" : "nobody",
"gmond_user" : "nobody",
"gpl_artifacts_download_url" : "",
"hadoop_conf_dir" : "/etc/hadoop/conf",
"hadoop_heapsize" : "1024",
"hadoop_pid_dir_prefix" : "/var/run/hadoop",
"hbase_hdfs_root_dir" : "/apps/hbase/data",
"hbase_log_dir" : "{{ hdp.hbase_log_dir }}",
"hbase_master_heapsize" : "1024m",
"hbase_pid_dir" : "/var/run/hbase",
"hbase_regionserver_heapsize" : "768m",
"hbase_tmp_dir" : "{{ hdp.hbase_tmp_dir }}",
"hbase_user" : "hbase",
"hcat_conf_dir" : "",
"hcat_log_dir" : "{{ hdp.hcat_log_dir }}",
"hcat_pid_dir" : "/var/run/webhcat",
"hcat_user" : "hcat",
"hdfs_enable_shortcircuit_read" : "true",
"hdfs_log_dir_prefix" : "{{ hdp.hdfs_log_dir_prefix }}",
"hdfs_user" : "hdfs",
"hfile_blockcache_size" : "0.40",
"hfile_max_keyvalue_size" : "10485760",
"hive_ambari_database" : "MySQL",
"hive_aux_jars_path" : "/usr/lib/hcatalog/share/hcatalog/hcatalog-core.jar",
"hive_conf_dir" : "/etc/hive/conf",
"hive_database" : "New MySQL Database",
"hive_database_name" : "hive",
"hive_database_type" : "mysql",
"hive_hostname" : "{{ hostvars[groups['hive'][0]]['ansible_fqdn'] }}",
"hive_jdbc_connection_url" : "jdbc:mysql://{{ hostvars[groups['hive'][0]]['ansible_fqdn'] }}/hive?createDatabaseIfNotExist=true",
"hive_jdbc_driver" : "com.mysql.jdbc.Driver",
"hive_log_dir" : "{{ hdp.hive_log_dir }}",
"hive_metastore_port" : "9083",
"hive_metastore_user_name" : "hive",
"hive_metastore_user_passwd" : "admin",
"hive_pid_dir" : "/var/run/hive",
"hive_user" : "hive",
"hregion_blockmultiplier" : "2",
"hregion_majorcompaction" : "604800000",
"hregion_memstoreflushsize" : "134217728",
"hstore_blockingstorefiles" : "10",
"hstore_compactionthreshold" : "3",
"hstorefile_maxsize" : "10737418240",
"initLimit" : "10",
"java64_home" : "/usr/java/default",
"lzo_enabled" : "true",
"mapred_log_dir_prefix" : "{{ hdp.mapred_log_dir_prefix }}",
"mapred_pid_dir_prefix" : "/var/run/hadoop-mapreduce",
"mapred_user" : "mapred",
"mysql_connector_url" : "${download_url}/mysql-connector-java-5.1.18.zip",
"nagios_contact" : "{{ nagios.nagios_contact }}",
"nagios_group" : "nagios",
"nagios_user" : "nagios",
"nagios_web_login" : "{{ nagios.nagios_web_login }}",
"nagios_web_password" : "{{ nagios.nagios_web_login }}",
"namenode_formatted_mark_dir" : "/var/run/hadoop/hdfs/namenode/formatted/",
"namenode_heapsize" : "1024m",
"namenode_opt_maxnewsize" : "640m",
"namenode_opt_newsize" : "200m",
"nodemanager_heapsize" : "768",
"oozie_data_dir" : "{{ hdp.oozie_data_dir }}",
"oozie_database" : "New Derby Database",
"oozie_database_name" : "oozie",
"oozie_database_type" : "derby",
"oozie_derby_database" : "Derby",
"oozie_hostname" : "{{ hostvars[groups['oozie'][0]]['ansible_fqdn'] }}",
"oozie_jdbc_connection_url" : "jdbc:derby:${oozie.data.dir}/${oozie.db.schema.name}-db;create=true",
"oozie_jdbc_driver" : "org.apache.derby.jdbc.EmbeddedDriver",
"oozie_log_dir" : "{{ hdp.oozie_log_dir }}",
"oozie_metastore_user_name" : "oozie",
"oozie_metastore_user_passwd" : "admin",
"oozie_pid_dir" : "/var/run/oozie",
"oozie_user" : "oozie",
"proxyuser_group" : "users",
"regionserver_handlers" : "60",
"regionserver_memstore_lab" : "true",
"regionserver_memstore_lowerlimit" : "0.38",
"regionserver_memstore_upperlimit" : "0.4",
"resourcemanager_heapsize" : "1024",
"rrdcached_base_dir" : "/var/lib/ganglia/rrds",
"run_dir" : "/var/run/hadoop",
"security_enabled" : "false",
"smokeuser" : "ambari-qa",
"syncLimit" : "5",
"tickTime" : "2000",
"user_group" : "hadoop",
"webhcat_user" : "hcat",
"yarn_heapsize" : "1024",
"yarn_log_dir_prefix" : "{{ hdp.yarn_log_dir_prefix }}",
"yarn_pid_dir_prefix" : "/var/run/hadoop-yarn",
"yarn_user" : "yarn",
"zk_data_dir" : "{{ hdp.zk_data_dir }}",
"zk_log_dir" : "{{ hdp.zk_log_dir }}",
"zk_pid_dir" : "/var/run/zookeeper",
"zk_pid_file" : "/var/run/zookeeper/zookeeper_server.pid",
"zk_user" : "zookeeper",
"zookeeper_sessiontimeout" : "30000"
}
