[ambari-1.x]
name=Ambari 1.x
baseurl={{ repository['ambari_baseurl'] }}
gpgcheck=0
enabled=1

[HDP-UTILS-1.1.0.16]
name=Hortonworks Data Platform Utils Version - HDP-UTILS-1.1.0.16
baseurl={{ repository['hdp_utils_baseurl'] }}
gpgcheck=0
enabled=1
