"properties" : {
"fs.AbstractFileSystem.glusterfs.impl" : "null",
"fs.defaultFS" : "hdfs://hdp2-master1.secloud.hortonworks.com:8020",
"fs.glusterfs.getfattrcmd" : "null",
"fs.glusterfs.impl" : "null",
"fs.glusterfs.mount" : "null",
"fs.glusterfs.volname" : "null",
"fs.trash.interval" : "360",
"hadoop.proxyuser.hcat.groups" : "users",
"hadoop.proxyuser.hcat.hosts" : "hdp2-master1.secloud.hortonworks.com",
"hadoop.proxyuser.hive.groups" : "users",
"hadoop.proxyuser.hive.hosts" : "hdp2-master1.secloud.hortonworks.com",
"hadoop.proxyuser.hue.groups" : "*",
"hadoop.proxyuser.hue.hosts" : "*",
"hadoop.proxyuser.oozie.groups" : "*",
"hadoop.proxyuser.oozie.hosts" : "*",
"hadoop.proxyuser.yarn.groups" : "*",
"hadoop.proxyuser.yarn.hosts" : "*",
"hadoop.security.auth_to_local" : "\n RULE:[2:$1@$0]([rn]m@.*)s/.*/yarn/\n RULE:[2:$1@$0](jhs@.*)s/.*/mapred/\n RULE:[2:$1@$0]([nd]n@.*)s/.*/hdfs/\n RULE:[2:$1@$0](hm@.*)s/.*/hbase/\n RULE:[2:$1@$0](rs@.*)s/.*/hbase/\n DEFAULT",
"hadoop.security.authentication" : "simple",
"hadoop.security.authorization" : "false",
"io.compression.codecs" : "org.apache.hadoop.io.compress.GzipCodec,org.apache.hadoop.io.compress.DefaultCodec",
"io.file.buffer.size" : "131072",
"io.serializations" : "org.apache.hadoop.io.serializer.WritableSerialization",
"ipc.client.connect.max.retries" : "50",
"ipc.client.connection.maxidletime" : "30000",
"ipc.client.idlethreshold" : "8000",
"mapreduce.jobtracker.webinterface.trusted" : "false"
}
