"properties" : {
"dfs.block.access.token.enable" : "true",
"dfs.blockreport.initialDelay" : "120",
"dfs.blocksize" : "134217728",
"dfs.client.read.shortcircuit" : "true",
"dfs.client.read.shortcircuit.streams.cache.size" : "4096",
"dfs.cluster.administrators" : " hdfs",
"dfs.datanode.address" : "0.0.0.0:50010",
"dfs.datanode.balance.bandwidthPerSec" : "6250000",
"dfs.datanode.data.dir" : "/mnt/hadoop/hdfs/data",
"dfs.datanode.data.dir.perm" : "750",
"dfs.datanode.du.reserved" : "1073741824",
"dfs.datanode.failed.volumes.tolerated" : "0",
"dfs.datanode.http.address" : "0.0.0.0:50075",
"dfs.datanode.ipc.address" : "0.0.0.0:8010",
"dfs.datanode.max.transfer.threads" : "1024",
"dfs.domain.socket.path" : "/var/lib/hadoop-hdfs/dn_socket",
"dfs.heartbeat.interval" : "3",
"dfs.hosts.exclude" : "/etc/hadoop/conf/dfs.exclude",
"dfs.https.port" : "50470",
"dfs.journalnode.edits.dir" : "/grid/0/hdfs/journal",
"dfs.journalnode.http-address" : "0.0.0.0:8480",
"dfs.namenode.accesstime.precision" : "0",
"dfs.namenode.avoid.read.stale.datanode" : "true",
"dfs.namenode.avoid.write.stale.datanode" : "true",
"dfs.namenode.checkpoint.dir" : "/mnt/hadoop/hdfs/namesecondary",
"dfs.namenode.checkpoint.edits.dir" : "${dfs.namenode.checkpoint.dir}",
"dfs.namenode.checkpoint.period" : "21600",
"dfs.namenode.handler.count" : "100",
"dfs.namenode.http-address" : "{{ hostvars[groups['namenode'][0]]['ansible_fqdn'] }}:50070",
"dfs.namenode.https-address" : "{{ hostvars[groups['namenode'][0]]['ansible_fqdn'] }}:50470",
"dfs.namenode.name.dir" : "/mnt/hadoop/hdfs/namenode",
"dfs.namenode.safemode.threshold-pct" : "1.0f",
"dfs.namenode.secondary.http-address" : "{{ hostvars[groups['secondary_namenode'][0]]['ansible_fqdn'] }}:50090",
"dfs.namenode.stale.datanode.interval" : "30000",
"dfs.namenode.write.stale.datanode.ratio" : "1.0f",
"dfs.permissions.enabled" : "true",
"dfs.permissions.superusergroup" : "hdfs",
"dfs.replication" : "3",
"dfs.replication.max" : "50",
"dfs.support.append" : "true",
"dfs.webhdfs.enabled" : "true",
"fs.checkpoint.size" : "1",
"fs.permissions.umask-mode" : "002"
}
