#!/bin/bash


for i in `/usr/bin/curl -s -u admin:admin -X GET http://{{ hostvars[groups['ambari_server'][0]]['ansible_fqdn'] }}:8080/api/v1/clusters/{{ hdp['CLUSTERNAME']}}/services | /bin/awk -F "\"" '/service_name/ {print $4}'`; do
   while true; do 
      state=`/usr/bin/curl -s -u admin:admin -X GET http://{{ hostvars[groups['ambari_server'][0]]['ansible_fqdn'] }}:8080/api/v1/clusters/{{ hdp['CLUSTERNAME']}}/services/${i}?fields=ServiceInfo | /bin/awk -F "\"" '/state/ {print $4}'`
#      echo $i $state
      if [[ "$state" == "INIT" || "$state" == "INSTALLING" ]] ; then
         sleep 10
      elif [[ "$state" == "INSTALLED" ]] ; then
         /usr/bin/curl --user admin:admin -i -X PUT -d '{"ServiceInfo":{"state":"STARTED"}}' http://{{ hostvars[groups['ambari_server'][0]]['ansible_fqdn'] }}:8080/api/v1/clusters/{{ hdp['CLUSTERNAME']}}/services/${i}
         break
      else 
         break
      fi
   done
done

# Force ambari to not present you with the webui install screen
/usr/bin/curl -i -u admin:admin -H "X-Requested-By: ambari" -X POST -d '{ "CLUSTER_CURRENT_STATUS": "{\"clusterState\":\"CLUSTER_STARTED_5\"}" }' http://{{ hostvars[groups['ambari_server'][0]]['ansible_fqdn'] }}:8080/api/v1/persist
