"properties" : {
"mapreduce.admin.map.child.java.opts" : "-Djava.net.preferIPv4Stack=true -Dhadoop.metrics.log.level=WARN",
"mapreduce.admin.reduce.child.java.opts" : "-Djava.net.preferIPv4Stack=true -Dhadoop.metrics.log.level=WARN",
"mapreduce.admin.user.env" : "LD_LIBRARY_PATH=/usr/lib/hadoop/lib/native:/usr/lib/hadoop/lib/native/`$JAVA_HOME/bin/java -d32 -version &amp;&gt; /dev/null;if [ $? -eq 0 ]; then echo Linux-i386-32; else echo Linux-amd64-64;fi`",
"mapreduce.am.max-attempts" : "2",
"mapreduce.application.classpath" : "$HADOOP_MAPRED_HOME/share/hadoop/mapreduce/*,$HADOOP_MAPRED_HOME/share/hadoop/mapreduce/lib/*",
"mapreduce.cluster.administrators" : " hadoop",
"mapreduce.framework.name" : "yarn",
"mapreduce.job.reduce.slowstart.completedmaps" : "0.05",
"mapreduce.jobhistory.address" : "{{ hostvars[groups['historyserver'][0]]['ansible_fqdn'] }}:10020",
"mapreduce.jobhistory.done-dir" : "/mr-history/done",
"mapreduce.jobhistory.intermediate-done-dir" : "/mr-history/tmp",
"mapreduce.jobhistory.webapp.address" : "{{ hostvars[groups['historyserver'][0]]['ansible_fqdn'] }}:19888",
"mapreduce.map.java.opts" : "-Xmx756m -server -Djava.net.preferIPv4Stack=true -XX:+UseNUMA -XX:+UseParallelGC -XX:+UseCompressedOops",
"mapreduce.map.log.level" : "INFO",
"mapreduce.map.memory.mb" : "1024",
"mapreduce.map.output.compress" : "false",
"mapreduce.map.sort.spill.percent" : "0.7",
"mapreduce.map.speculative" : "false",
"mapreduce.output.fileoutputformat.compress" : "false",
"mapreduce.output.fileoutputformat.compress.type" : "BLOCK",
"mapreduce.reduce.input.buffer.percent" : "0.0",
"mapreduce.reduce.java.opts" : "-Xmx756m -server -Djava.net.preferIPv4Stack=true -XX:+UseNUMA -XX:+UseParallelGC -XX:+UseCompressedOops",
"mapreduce.reduce.log.level" : "INFO",
"mapreduce.reduce.memory.mb" : "1024",
"mapreduce.reduce.shuffle.input.buffer.percent" : "0.7",
"mapreduce.reduce.shuffle.merge.percent" : "0.66",
"mapreduce.reduce.shuffle.parallelcopies" : "30",
"mapreduce.reduce.speculative" : "false",
"mapreduce.shuffle.port" : "13562",
"mapreduce.task.io.sort.factor" : "100",
"mapreduce.task.io.sort.mb" : "200",
"mapreduce.task.timeout" : "300000",
"yarn.app.mapreduce.am.admin-command-opts" : "-Djava.net.preferIPv4Stack=true -Dhadoop.metrics.log.level=WARN",
"yarn.app.mapreduce.am.command-opts" : "-Xmx410m",
"yarn.app.mapreduce.am.log.level" : "INFO",
"yarn.app.mapreduce.am.resource.mb" : "512",
"yarn.app.mapreduce.am.staging-dir" : "/user"
}
